/*  elements  */

body {
    background-color: whitesmoke;
}

p {
    margin: auto;
}


/* classes */

.header {
    padding: 60px;
    text-align: center;
    background: #434e4e;
    color: white;
    font-size: 30px;
}

.center {
    padding: 60px;
    align-content: center;
    background: #434e4e;
    color: white;
}

.output_container {
    align-content: center;
    background: darkgray;
    color: black;
    width: 40%;
    display: table;
}

.col {
    margin: auto;
    border-style: ridge;
    align-content: center;
}

.odd {
    background: rgb(78, 187, 78);
    color: white;
    text-align: center;
}

.even {
    background: rgb(184, 73, 33);
    color: white;
    text-align: center;
}

.all {
    background: white;
    text-align: center;
}