<div class="header">
    <h1>Yet another counter! </h1>
</div>
<hr>

<app-game-control (countIncrased)="reciveMessage($event)"> </app-game-control>
<hr>

<div class="container output_container">
    <div class="row">

        <div class="col odd">
            <app-odd [count]="count"></app-odd>
        </div>
        <div class="col even">
            <app-even [count]="count"> </app-even>
        </div>

        <div class="col all" [ngStyle]="{'background':count%2 === 0 ? 'green':'red'}">
            <app-all [count]="count"> </app-all>
        </div>
    </div>
</div>